{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ path('sondage_index') }}" class="btn btn-default btn-fill ">Retourner à la liste</a> 
<div></div><br>


  <div class="row">
     <div class="col-md-6">
                        <div class="card">

                            <div class="header">
                                <h4 class="title">Sondage</h4>
                               
                            </div>
                            <div class="content">
                                 <p class="category">Description : {{ sondage.description }}</p>
                      
                                   
                                    <hr>
                                    <div class="stats">
                        
                                        {% if sondage.termine == true %}
                                          <div class="alert alert-danger">Le sondage est terminé</div> 
                                          <br>
                                            
                                           {% else %}
                                            {% if limite == '' %}
                                              <form action="#" method="POST">
                                                <div  class="form-group">

                                                        <label for="date">Ajouter Une date de  fin </label> 
                                                        <input type="date" name="date" class="form-control">
                                                        
                                                    </div>
                                                    <button type="submit" class="btn btn-info btn-fill  btn-sm pull-right"> + </button>
                                              </form>
                                                    {% else %}
                                                        <div class="alert alert-danger">{{limite}}</div>
                                                     {% endif %}
                                                      {% endif %}
                                    </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">

                            <div class="header">
                                <h4 class="title">Participation</h4>
                               
                            </div>
                            <div class="content">
                                 <p class="category">Description : {{ sondage.description }}</p>
                      
                                   
                                    <hr>
                                    <div class="stats">
                        
                                        {% if sondage.termine == true %}
                                          <div class="alert alert-danger">Le sondage est terminé</div> 
                                          <br>
                                            
                                           {% else %}
                                            {% if limite == '' %}
                                              <form action="#" method="POST">
                                                <div  class="form-group">

                                                        <label for="date">Ajouter Une date de  fin </label> 
                                                        <input type="date" name="date" class="form-control">
                                                        
                                                    </div>
                                                    <button type="submit" class="btn btn-info btn-fill  btn-sm pull-right"> + </button>
                                              </form>
                                                    {% else %}
                                                        <div class="alert alert-danger">{{limite}}</div>
                                                     {% endif %}
                                                      {% endif %}
                                    </div>
                               
                            </div>
                        </div>
                    </div>
                     </div>
{% endblock %}
