{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ path('sondage_index') }}" class="btn btn-default btn-fill ">Retourner à la liste</a> 
<div></div><br>


  <div class="row">
     <div class="col-xs-9">
                        <div class="card">

                            <div class="header">
                                <h4 class="title">Sondage</h4>
                               
                            </div>
                            <hr>
                            <div class="content">
                                      <div class="overflow-x:auto;">
                                 <p class="category">Description : {{ sondage.description }}</p>
                      
                                   
                                    <hr>
                                    <div class="stats">
                        
                                        {% if sondage.termine == true %}
                                          <div class="alert alert-danger">Le sondage est terminé</div> 
                                          <br>
                                            
                                           {% else %}
                                            {% if limite == '' %}
                                              <form action="#" method="POST">
                                                <div  class="form-group">

                                                        <label for="date">Ajouter Une date de  fin </label> 
                                                        <input type="date" name="date" class="form-control">
                                                        
                                                    </div>
                                                    <button type="submit" class="btn btn-info btn-fill  btn-sm pull-right"> + </button>
                                              </form>
                                                    {% else %}
                                                        <p><h6>La date de fin du sondage :</h6></p>
                                                        
                                                        <div class="alert alert-info">{{limite | date('Y-m-d') }}</div>
                                                     {% endif %}
                                                      {% endif %}
                                    </div>
                               
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="card">

                            <div class="header">
                                <h4 class="title">Participations</h4>
                               
                            </div>
                            <hr>
                            <div class="content">
                                       <div class="overflow-x:auto;">
                                    <div class="stats">
                                        <p><i class="fa fa-fw fa-thumbs-up"></i> (Pour) : {{pour}}</p>
                                        <p><i class="fa fa-fw fa-thumbs-down"></i> (Contre) : {{contre}}</p>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    </div>
     
{% endblock %}
