{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('reclamation_index') }}" class="btn btn-default btn-fill">Back to the list</a>


    
       <div></div><br>     
    

<div class="row">

                    
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-camera"></i></i> Envoyé par : <strong>{{reclamation.citoyen.nom}} {{reclamation.citoyen.prenom}}</strong>
            </div>
            <div class="list-group list-group-flush small">
               
               <div class="list-group-item list-group-item-action" href="#">
                <div class="media">
                  <p></p>
                  <img  class="img-thumbnail"  width="100%" src="{{reclamation.image}}" alt="Cinque Terre" ><br>
                  <div class="media-body">
                   <strong>Description : </strong>  {{reclamation.contenu}} <br>
                   <small>{% if reclamation.closed %}<p></p><div class="alert alert-success">Etat : Fermé</div> {% else %}<p></p><div class="alert alert-info">Etat : En traitement</div> 
                                             <a href="{{ path('reclamation_etat', {'id':reclamation.id}) }}" class="btn btn-success btn-fill  btn-sm" type="submit">Fermé</a>
                                         {% endif %}</small>
                                               <p></p>
             
        
                             
                  </div>
                   
                  </div>
                   </div>
                </div>

                 
               <div class="card-footer small text-muted">
   
                           Date dépot : {% if reclamation.createdAt %}{{ reclamation.createdAt|date('Y-m-d H:i:s') }}{% endif %}    

             
                {{ form_start(delete_form) }}
                                        <button type="submit" class="btn btn-danger btn-fill btn-sm">Supprimer</button>
                                    {{ form_end(delete_form) }}
                    </div>
                  </div>
                </div>

                     <div class="col-md-4">
                        <div class="card ">
                            <div class="header">

                                <h4 class="title"> Emplacement <i class="fa fa-map-marker"></i> </h4>

                                
                               
                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                         <tr>
                                          <td> 
                                           <div class="google-map"  ><iframe frameborder="0" style="border:0" src="
                                            https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw" ></iframe></div>
                                             </td>
                                             
                                               
                                                </tr>
                                      
                                 
                                        </tbody>
                                    </table>
                                </div>
                                <div class="footer">
                                    <hr>
                                    
                                    <div class="stats">
                                     <a target="_blank" class="btn btn-primary btn-fill" jstcache="15" href="http://maps.google.com/maps?q={{reclamation.lat}},{{reclamation.lng}}">Agrandir le plan</a>
                                    </div>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



{% endblock %}
