{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('projets_index') }}" class="btn btn-default">Back to the list</a><br>
    <div class="col-6">
<div class="jumbotron">
    <h1>Projet</h1>

    <table>
        <tbody>
            <tr>
                <th>Sujet</th>
                <td>    <div class="col-1"></div></td>
                <td>{{ projet.sujet }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>    <div class="col-1"></div></td>
                <td>{{ projet.contenu }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>    <div class="col-1"></div></td>
                <td>{% if projet.dateDebut %}{{ projet.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>    <div class="col-1"></div></td>
                <td>{{ projet.duree }}</td>
            </tr>
            
        </tbody>
    </table>
    <hr>
        <div class="row">
            <div class="col-md-2"><a href="{{ path('projets_edit', { 'id': projet.id }) }}" class="btn btn-info">Edit</a></div>
            <div class="col-md-2">
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete" class="btn btn-danger">
                    {{ form_end(delete_form) }}
            </div>
        </div>
            
</div>
   </div>         

  
{% endblock %}
