{% extends 'default/dashboard.html.twig' %}

{% block body %}

<a href="{{ path('projet_index') }}" class="btn btn-default btn-fill ">Retourner à la liste</a> 
<div></div><br>
<div class="row">
<div class="col-md-7">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title"> Titre : <strong>{{ projet.sujet }}</strong></h4>
                                
                               
                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                         <tr>
                                          <td> <img src="http://localhost/pfeapp/web/uploads/imageProjet/{{projet.image}}" class="img-responsive" alt="Cinque Terre"  ></td>
                                           
                                            </tr>
                                            <tr>
                                             <td> <p class="category">{{projet.contenu}}</p></td>
                                             
                                               
                                                </tr>
                                                <tr>
                                             <td> <h3>Etat : <small>{% if projet.done == null %}<p>En cours</p> {% else %} <p>{{projet.done}}</p>{% endif %}</small></h3>
            
                                              <div class="btn-group">
                                                <button type="button" class="btn btn-primary btn-fill  btn-sm">Terminé</button>
                                                <button type="button" class="btn btn-danger btn-fill  btn-sm">Interrompu</button>
                                              </div></td>
                                             
                                               
                                                </tr>
                                      
                                 
                                        </tbody>
                                    </table>
                                </div>

                                <div class="footer">
                                    <hr>
                                    
                                    <div class="stats">
                                     <div class="mr-3 d-inline-block"><i class="fa fa-fw fa-thumbs-up"></i> {{votes}}</div> |
                                     Date debut : {{projet.dateDebut | date('Y-m-d') }} | Durée : {{projet.duree}} 
                                     
                                    </div>
                                    <div class="pull-right">{{ form_start(delete_form) }}
                                         <button type="submit" class="btn btn-danger btn-fill  btn-sm">Supprimer</button>
                                    {{ form_end(delete_form) }}</div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                   
  <div class="col-md-5">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Commentaires</h4>
                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                          
                                          {% for commentaire in commentaires %}
                                            <tr>
                                            <td>
                                              {{commentaire.citoyen}}
                                                </td>
                                                <td>{{commentaire.contenu}}</td>
                                                <td class="td-actions text-right">
                                                  {% if commentaire.validation %}<button type="button" rel="tooltip" title="Déja Valider" class="btn btn-info btn-simple btn-xs disabled">
                                                        <i class="fa fa-edit"></i>
                                                    </button>{% else %} <button type="button" rel="tooltip" title="Valider" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>{% endif %}
                                              <button type="button" rel="tooltip" title="Supprimer" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                             
                                            </tr>
                                             {% endfor %}
                                       
                                        </tbody>
                                    </table>
                                </div>

                                <div class="footer">
                                    <hr>

                                    <div class="stats">
                                      <button type="submit" class="btn btn-danger btn-fill  btn-sm">Vider</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
    
    
{% endblock %}
